/* まだ未定の欄を埋めるボックスの設定 */
.pre-box {
    width:600px;
    height:120px;
    border:1px solid #505050;
    margin: 100px 50px 100px 50px;
}

/* フッターの設定 */
footer {
    background-color: #ddd;
    color: #505050;
    padding: 30px;
}

footer a {
    color: #505050;
    text-decoration: none;
}

footer li a:hover {
    text-decoration: underline;
}

footer .wrap {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .wrap h3 {
    margin: 0 0 10px 0;
    padding: 0;
    border-bottom: 1px #c4c4c4 solid;
}

footer .wrap p {
    margin: 0;
    padding: 0 0 20px 0;
}

footer .wrap .box:first-child {
    width: 30%;
}

footer .wrap .box:nth-child(2) {
    width: 65%;
}

footer .wrap box ul {
    margin: 0;
    padding: 0 0 20px 0;
    list-style: none;
}

footer .wrap .copyright {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

@media only screen and (max-width: 599px) {
    footer .wrap {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    footer .wrap h3 {
        border: none;
    }
    footer .wrap .box:first-child,
    footer .wrap .box:nth-child(2) {
        width: 100%;
    }
    footer .wrap .box ul {
        border-top: 1px #c4c4c4 solid;
    }
    footer .wrap .box ul li a {
        display: block;
        padding: 5px 15px;
        border-bottom: 1px #c4c4c4 solid;
    }
}

/* formの設定 */
.form {
    max-width:720px;
    margin: 100px auto 100px 50px;
}

@media screen and (max-width: 480px) {
    .form {
        margin-top: 40px;
    }
}

.form-item {
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .form-item {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
        flex-wrap: wrap;
    }
}

.form-item-label, .form-output-label {
    width: 100%;
    max-width: 100px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    .form-item-label {
        max-width: inherit;
        display: flex;
        align-items: center;
        font-size: 15px;
    }
}

.form-item-input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 36px;
    flex: 1;
    width: 100%;
    max-width: 400px;
    background: #fff;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    .form-item-input {
        margin-left: 0;
        margin-top: 18px;
        height: 40px;
        flex: inherit;
        font-size: 15px;
    }
}

.form-btn {
    border-radius: 12px;
    margin-top: 12px;
    margin-left: 140px;
    margin-right: auto;
    width: 200px;
    height: 50px;
    display: block;
    letter-spacing: 0.05em;
    background: #8EC7C6;
    color: fff;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    .form-btn {
        margin-top: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 160px;
        font-size: 16px;
    }
}

.form-output {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.form-output-text {
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 36px;
    flex: 1;
    width: 100%;
    max-width: 400px;
    background: #fff;
    font-size: 18px;
}